click==8.1.8
jax==0.6.0
jax-cuda12-pjrt==0.6.0
jax-cuda12-plugin==0.6.0
jaxlib==0.6.0
jaxopt==0.8.5
markdown-it-py==3.0.0
mdurl==0.1.2
ml_dtypes==0.5.1
numpy==2.2.5
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvcc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.8.0.87
nvidia-cufft-cu12==11.3.3.83
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-nccl-cu12==2.26.2.post1
nvidia-nvjitlink-cu12==12.8.93
opt_einsum==3.4.0
Pygments==2.19.1
python-sat==1.8.dev16
rich==14.0.0
scipy==1.15.2
shellingham==1.5.4
six==1.17.0
tqdm==4.67.1
typer==0.15.2
typing_extensions==4.13.2
